.first{
    text-align: center;
    font-style:italic;
    color: rgb(211, 7, 7);
    background-color: rgb(90, 135, 101);
    width: 70%;
    margin: auto;
}
body{
    background-color:rgb(90, 135, 101) ;
}
.hero{
    width: 100%;
    height: 550px;
}
.intr_div{
    width: 600px;
    height: 218px;
    border: 1px solid crimson;
    margin-bottom: 70px;
    color: beige;
    
}

.fourth_div{
    width: 600px;
    height: 218px;
    border: 1px solid crimson;
    margin-bottom: 70px;
}
.main{
    display: flex;
    gap: 40px;
    justify-content: space-around;
}
.Zee{
    width: 100%;
    height: 200px;
}
.Nav_bar{
    height: 50px;
    border: 1px solid rgb(230, 19, 19);
    width: 100%;
    display: flex;
    justify-content: end;
    gap: 20px;
    align-items: center;
    background-color: rgb(242, 234, 234);


}
a{
    text-decoration: none;
    color: rgb(247, 241, 241);
    padding: 5px;
    background-color: rgb(90, 135, 101);
    border-radius: 5px;
    
}

.X{
    display: flex;
    align-items: center;
}
.Y{
    display: flex;
    align-items: center;
}
.Z{
    display: flex;
    align-items: center;
}
.P{
    display: flex;
    text-align: center;
}
.hover_button{
    display: flex;
    align-items: center;
    margin: auto;
    padding: 7px;
    width: 100px;
    justify-content: center;
    border: none;
    background-color: rgb(40, 170, 251);
    color: white;

}
.About{
    color: beige;
}
.about{
    color: beige;
}
.History{
    color: beige;
}
.history{
    color: beige;
}
.Intro{
    color: beige;
}

