body{
    color: whitesmoke;
}
.address{
    background-color: black;
}
form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    
}
.form_item{
    color: black;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: end;
    align-items: center;
}