body{
    color: whitesmoke;
}
.section{
    align-items: center;
}
.address{
    background-color: black;
}
form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    
}
.form_item{
    color: black;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
}
.button{
    display: flex;
    justify-content: center;
}
.message{
    
    margin-bottom: 20px;
}