*{
    text-decoration: none;
    font-family: sans-serif;
}
body{
    background-color: rgb(5, 5, 5);
}
a{
    color: rgb(246, 242, 242);
}

.nav-bar{
    display: flex;
    justify-content: space-between;
    background-color:rgb(7, 39, 39);
    height: 30px;
    border: none;
    border-radius: none;
    width: 100%;
    gap: 15px;
    align-items: center;
    padding:10px;
}
hr{
    margin-bottom: 10%;

}

.nav-item{
    display: flex;
    gap: 20px;
    margin-right: 50px;
    
}
.webname{
    color: azure;
}
.intro{
    color:white;
    background-color: rgb(33, 18, 48);
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin:auto;
}
.details{
    line-height: 35px;
    letter-spacing: 1px;
   
}
.part2{
    height: 300px;
    width:300px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow:  0 0 25px rgb(119, 212, 233);
}

.part2 > img{
    width: 100%;
    height: 100%;
}
.hi{
    font-weight: bolder;
    font-size: 50px;
    
}
.name{
    font-size: 45px;
}
.work{
    font-size: 45px;
}


