body {
    margin: 0;
    font-family: "Segoe UI", Arial, sans-serif;
    background-color: #f4f4f4;
    color: #adacac;
}

.site-header {
    background-color: #2c3e50;
    color: white;
    text-align: center;
    padding: 30px 10px;
}

.tagline {
    font-style: italic;
    color: #e6e4e4;
}

main {
    display: flex;
    justify-content: center;
    padding: 30px;
}

.profile {
    background-color: rgb(28, 28, 28);
    max-width: 600px;
    padding: 25px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 5px 12px rgba(0, 0, 0, 0.15);
}

.profile img {
    border-radius: 50%;
    margin-bottom: 20px;
}

.profile p {
    line-height: 1.6;
    margin-bottom: 15px;
}

h3 {
    color: #2c3e50;
    margin-top: 20px;
}

.custom-list {
    list-style: none;
    padding: 0;
}

.custom-list li {
    background-color: #30a0ea;
    color: white;
    padding: 8px;
    margin: 8px 0;
    border-radius: 6px;
    cursor: pointer;
}
.custom-list li:hover{
    background-color: #0691ee;
}

footer {
    background-color: #2c3e50;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 30px;
}

footer p:hover {
    text-decoration: underline;
}