table, td, th, tr{
    border: 1px solid;
    border-collapse: collapse;
    text-align: center;
    padding: 5px;
    
    
}
td{
    width: 500px;
}
table{
    width: 100%;
}

body{
    background-color:whitesmoke;

}
.all_table{
    display: flex;
    flex-direction: column;
    
}
