
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background: #f5f7fa;
  color: #333;
  line-height: 1.6;
  font-size: 16px;
}


.cv-container {
  max-width: 900px;
  background: #fff;
  margin: 40px auto;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 6px 18px rgba(83, 69, 69, 0.1);
}

/* ===== Header ===== */
.head {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 25px;
  justify-content: space-between;
}

.profile-pic img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  border: 1px solid #7f898b;
}

.header-info h1 {
  font-size: 28px;
  color: #383a3b;
  margin-bottom: 5px;
}

.head-inf h2 {
  font-size: 18px;
  font-weight: 400;
  color: #666;
  margin-bottom: 8px;
}

.head-inf p {
  font-size: 14px;
  color: #444;
}


.section {
  margin: 25px 0;
}

.section h3 {
  font-size: 20px;
  margin-bottom: 10px;
  color: #202223;
  border-bottom: 2px solid #3e4246;
  display: inline-block;
  padding-bottom: 3px;
}


.item {
  margin-bottom: 15px;
}

.item h4 {
  font-size: 16px;
  color: #333;
  margin-bottom: 3px;
}

.item p {
  font-size: 14px;
  color: #666;
}

.item ul {
  margin: 6px 0 0 18px;
}

.item ul li {
  font-size: 14px;
  margin-bottom: 4px;
}


.skills-list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 8px;
  margin-top: 8px;
}

.skills-list li {
  background: #eaf4ff;
  padding: 8px 12px;
  border-radius: 6px;
  font-size: 14px;
  color: #626a71;
  font-weight: 500;
  transition: 0.3s;
}

.skills-list li:hover {
  background: #45474a;
  color: #fff;
}



